<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>DashBoard</title>
</head>

<body>
   <h6>Dashboard</h6>
   <h3>Welcome {{name}} </h3>
   {{#if posts}}
   <p>Here Are Your Posts</p>
   <table class="striped">
      <thead>
         <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
         </tr>
      </thead>
      {{#each posts}}
      <tr>
         <td><a href="/posts/{{_id}}"></a>{{title}}</td>
         <td>{{createdAt}}</td>
         <td><span class="dash-status">{{status}}</span></td>
         <td></td>
      </tr>
      {{/each}}
   </table>
   {{else}}
   <p>You haven't posted anything yet</p>
   {{/if}}
</body>

</html>